{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>實驗網站</title>
<script src="https://use.fontawesome.com/9ed2b9813e.js"></script>
<link rel="stylesheet" href= {% static 'css/activity_detail.css' %} type="text/css" />
<script type="text/javascript" src={% static 'js/jquery-3.1.1.min.js' %}></script>
<script type="text/javascript" src={% static 'js/jquery.color-2.1.2.js' %}></script>
<script type="text/javascript" src={% static 'js/menu2.js' %}></script>
<script type="text/javascript" src={% static 'js/scroll.js' %}></script>
<script type="text/javascript" src={% static 'js/replace.js' %}></script>
</head>


<body>
<div id="head">
	<ul>
		<li><span class = "option1">活動名稱</span></li>
		<li><span class = "option2">活動簡介</span></li>
		<li><span class = "option3">基本資訊</span></li>
		<li><span class = "option4">聯絡資訊</span></li>
	</ul>
	<div class = "arrow-up"></div>
	<div class = "arrow-up2"></div>
</div>

<div id="container">
	<div class="p1">
		<div class="title">
			<div class="title_image" style="background-image: url({% static 'image/' %}{{ post.圖片 }});background-size: 100%;background-position: center;"><img src={% static 'image/back.png' %}></div>
			<div class="title_text">{{ post.活動名稱 }}</div>
			<div class="title_subtext">{{ post.副標題 }}</div>
			<div class="title_line"></div>
			<div class="title_date">{{ post.開始日期與時間|date:"Y . m . d" }}</div>
		</div>
	</div>
	<div class="p2">
		<div class="brief_title">簡介</div>
		<div class="brief_line"></div>
		
		{% autoescape off %}
		<div class="brief_text">
			{{ post.簡介|linebreaksbr }}
		</div>
		{% endautoescape %}
	</div>
	<div class="p3">
	
	<div class="wrapper">
	{% autoescape off %}
		<div class="info">
			<div class="icon"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>
			<div class="info_title">活動日期</div>
			<div class="info_line"></div>
			<div class="text_date">
				<div class="start_date">{{ post.開始日期與時間|date:"Y.m.d (D) H:i" }}</div>
				<div>|</div>
				<div class="end_date">{{ post.結束日期與時間|date:"Y.m.d (D) H:i" }}</div>
			</div>
		</div>
		<div class="info">
			<div class="icon"><i class="fa fa-map-marker"></i></div>
			<div class="info_title">活動地點</div>
			<div class="info_line"></div>
			<div class="text_location">{{ post.詳細地點|linebreaksbr }}</div>
		</div>
		<div class="info">
			<div class="icon"><i class="fa fa-usd" aria-hidden="true"></i></div>
			<div class="info_title">活動費用</div>
			<div class="info_line"></div>
			<div class="text_fee">{{ post.詳細費用|linebreaksbr }}</div>
		</div>
		<div class="info">
			<div class="icon"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
			<div class="info_title">活動對象</div>
			<div class="info_line"></div>
			<div class="text_for">{{ post.對象 }}</div>
		</div>
		<div class="info">
			<div class="icon"><i class="fa fa-users" aria-hidden="true"></i></div>
			<div class="info_title">人數限制</div>
			<div class="info_line"></div>
			<div class="text_limit">{{ post.人數限制 }}</div>
		</div>
		<div class="info">
			<div class="icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
			<div class="info_title">報名死線</div>
			<div class="info_line"></div>
			<div class="text_deadline">{{ post.報名死線|date:"m月d日 H:i截止" }}</div>
		</div>
	{% endautoescape %}
	</div>
	
	</div>
	<div class="p4">
		<a href="{{ post.聯絡資訊 }}" target="_blank"><div class="more"><i class="fa fa-info-circle"></i></div></a>
	</div>
<!--container--></div>

<div id="footer">
</div>
</body>
</html>