{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>實驗網站</title>
<link rel="stylesheet" href={% static 'css/activity_list.css' %} type="text/css" />
<script type="text/javascript" src={% static 'js/jquery-3.1.1.min.js' %}></script>
<script type="text/javascript" src={% static 'js/ellipsis.js' %}></script>
<script type="text/javascript" src={% static 'js/godown.js' %}></script>
<script type="text/javascript" src={% static 'js/loading.js' %}></script>
<script type="text/javascript" src={% static 'js/menu.js' %}></script>
</head>


<body>
<div id="intro">
<div id="loader"></div>
<div id="welcome"></div>
<div><img id="godown" src={% static 'image/down_arrow.png' %}></div>
</div>

<div id="head">
	<ul>
		<li class = "option">活動時間
			<ul class = "selection">
				<li id = "1.1">a</li>
				<li id = "1.2">b</li>
				<li id = "1.3">c</li>
				<li id = "1.4">d</li>
			</ul>
		</li>
		<li class = "option">報名時間
			<ul class = "selection">
				<li id = "2.1">a</li>
				<li id = "2.2">b</li>
				<li id = "2.3">c</li>
				<li id = "2.4">d</li>
			</ul>
		</li>
		<li class = "option">費用
			<ul class = "selection">
				<li id = "3.1">a</li>
				<li id = "3.2">b</li>
				<li id = "3.3">c</li>
				<li id = "3.4">d</li>
			</ul>
		</li>
		<li class = "option">對象
			<ul class = "selection">
				<li id = "4.1">a</li>
				<li id = "4.2">b</li>
				<li id = "4.3">c</li>
				<li id = "4.4">d</li>
			</ul>
		</li>
		<li class = "option">標籤
			<ul class = "selection">
				<li id = "5.1">a</li>
				<li id = "5.2">b</li>
				<li id = "5.3">c</li>
				<li id = "5.4">d</li>
			</ul>
		</li>
	</ul>
</div>

<div id="container">
	<div id="content">
		<div id="block">
			<div class="image"><img src={% static 'image/test.jpg' %}></div>
			<h1>寶藏巖光節</h1>
			<div id="brief">介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹</div>
			<div id="more_info">
				<p>時間&nbsp;&nbsp;|&nbsp;&nbsp;2017.12.20(日)19:30&nbsp;~&nbsp;2017.12.21(一)05:00<br></p>
				<p>地點&nbsp;&nbsp;|&nbsp;&nbsp;陽明大學音樂前廳<br></p>
				<p>報名&nbsp;&nbsp;|&nbsp;&nbsp;2017.12.20(日)19:30&nbsp;~&nbsp;2017.12.21(一)05:00<br></p>
				<p>費用&nbsp;&nbsp;|&nbsp;&nbsp;100元<br></p>
				<p>對象&nbsp;&nbsp;|&nbsp;&nbsp;陽明大學全體師生<br></p>
				<p>標籤&nbsp;&nbsp;|&nbsp;&nbsp;OAF<br></p>
			</div>
		</div>
		<div id="block">
			<div class="image"><img src={% static 'image/test2.jpg' %}></div>
			<h1>Taipei Hackathon</h1>
			<div id="brief">介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹</div>
			<div id="more_info">
				<p>時間&nbsp;&nbsp;|&nbsp;&nbsp;2017.12.20(日)19:30&nbsp;~&nbsp;2017.12.21(一)05:00<br></p>
				<p>地點&nbsp;&nbsp;|&nbsp;&nbsp;陽明大學音樂前廳<br></p>
				<p>報名&nbsp;&nbsp;|&nbsp;&nbsp;2017.12.20(日)19:30&nbsp;~&nbsp;2017.12.21(一)05:00<br></p>
				<p>費用&nbsp;&nbsp;|&nbsp;&nbsp;100元<br></p>
				<p>對象&nbsp;&nbsp;|&nbsp;&nbsp;陽明大學全體師生<br></p>
				<p>標籤&nbsp;&nbsp;|&nbsp;&nbsp;OAF<br></p>
			</div>
		</div>
		<div id="block">
			<div class="image"><img src={% static 'image/test3.jpg' %}></div>
			<h1>陽明山登山會師</h1>
			<div id="brief">介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹</div>
			<div id="more_info">
				<p>時間&nbsp;&nbsp;|&nbsp;&nbsp;2017.12.20(日)19:30&nbsp;~&nbsp;2017.12.21(一)05:00<br></p>
				<p>地點&nbsp;&nbsp;|&nbsp;&nbsp;陽明大學音樂前廳<br></p>
				<p>報名&nbsp;&nbsp;|&nbsp;&nbsp;2017.12.20(日)19:30&nbsp;~&nbsp;2017.12.21(一)05:00<br></p>
				<p>費用&nbsp;&nbsp;|&nbsp;&nbsp;100元<br></p>
				<p>對象&nbsp;&nbsp;|&nbsp;&nbsp;陽明大學全體師生<br></p>
				<p>標籤&nbsp;&nbsp;|&nbsp;&nbsp;OAF<br></p>
			</div>
		</div>
		<div id="block">
		</div>
		<div id="block">
		</div>
		<div id="block">
		</div>
		<div id="block">
		</div>
		<div id="block">
		</div>
		<div id="block">
		</div>
		<div id="block">
		</div>
	<!--content--></div>
<!--container--></div>
<div id="footer">
</div>
</body>
</html>