{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="網頁關鍵字">	
<title>ActPlat - 首頁</title>
<link rel="SHORTCUT ICON" href={% static 'image/just_logo.png' %}>

<script src="https://use.fontawesome.com/f4d3a939e1.js"></script>
<link rel="stylesheet" href={% static 'css/activity_list.css' %} type="text/css" />
<script type="text/javascript" src={% static 'js/jquery-3.1.1.min.js' %}></script>
<script type="text/javascript" src={% static 'js/ellipsis.js' %}></script>
<script type="text/javascript" src={% static 'js/godown.js' %}></script>
<script type="text/javascript" src={% static 'js/loading.js' %}></script>
<script type="text/javascript" src={% static 'js/menu.js' %}></script>
<script type="text/javascript" src={% static 'js/replace.js' %}></script>
<script type="text/javascript" src={% static 'js/hover.js' %}></script>

</head>


<body>
<div id="intro">
<script src={% static 'js/particles.js' %}></script>
<script src={% static 'js/app.js' %}></script>
<div id="notification">
	<div id="lastupdate"><span>上次更新|&nbsp;</span><br>
		&emsp;&emsp;&emsp;&emsp;&emsp;2017.04.19 20:00<br>
	</div>
	<div id="whatsnew"><span>新增功能|&nbsp;</span><br>
		&emsp;&emsp;&emsp;&emsp;&emsp;篩選活動<br>
		&emsp;&emsp;&emsp;&emsp;&emsp;活動簡介<br>
		&emsp;&emsp;&emsp;&emsp;&emsp;我也要宣傳活動<br>
		&emsp;&emsp;&emsp;&emsp;&emsp;登入後可以收藏活動<br>
		&emsp;&emsp;&emsp;&emsp;&emsp;看到各活動的收藏數<br>
	</div>
	<div id="todo"><span>預計功能|&nbsp;</span><br>
		&emsp;&emsp;&emsp;&emsp;&emsp;手機板網頁<br>
		&emsp;&emsp;&emsp;&emsp;&emsp;排序方式<br>
		&emsp;&emsp;&emsp;&emsp;&emsp;搜尋功能<br>
		&emsp;&emsp;&emsp;&emsp;&emsp;時間軸<br>
	</div>
</div>
<div id="loader"></div>
<div id="welcome"><img src={% static 'image/logo.png' %}></div>
<div><img id="godown" src={% static 'image/down_arrow.png' %}></div>
</div>

<div id="head">
	<ul>
		<!--<li class = "option">活動時間
			<ul class = "selection">
				<li id = "1.1"><div id="selection_text">a</div><div id="slider"><div id="switch"></div></div></li>
				<li id = "1.2"><div id="selection_text">b</div><div id="slider"><div id="switch"></div></div></li>
				<li id = "1.3"><div id="selection_text">c</div><div id="slider"><div id="switch"></div></div></li>
				<li id = "1.4"><div id="selection_text">d</div><div id="slider"><div id="switch"></div></div></li>
			</ul>
		</li>-->
		<li class = "option">類型
			<ul class = "selection">
				<li id = "2.1"><div id="selection_text">學校活動</div><div id="slider"><div id="switch"></div></div></li>
				<li id = "2.2"><div id="selection_text">學生會</div><div id="slider"><div id="switch"></div></div></li>
				<li id = "2.3"><div id="selection_text">系學會</div><div id="slider"><div id="switch"></div></div></li>
				<li id = "2.4"><div id="selection_text">社團活動</div><div id="slider"><div id="switch"></div></div></li>
				<li id = "2.5"><div id="selection_text">其他</div><div id="slider"><div id="switch"></div></div></li>
			</ul>
		</li>
		<li class = "option">性質
			<ul class = "selection">
				<li id = "3.1"><div id="selection_text">室內．學術</div><div id="slider"><div id="switch"></li>
				<li id = "3.2"><div id="selection_text">室內．休閒</div><div id="slider"><div id="switch"></li>
				<li id = "3.3"><div id="selection_text">戶外．運動</div><div id="slider"><div id="switch"></li>
				<li id = "3.4"><div id="selection_text">戶外．休閒</div><div id="slider"><div id="switch"></li>
				<li id = "3.5"><div id="selection_text">其他</div><div id="slider"><div id="switch"></li>
			</ul>
		</li>
		<li class = "option">費用
			<ul class = "selection">
				<li id = "4.1"><div id="selection_text">免費且備餐</div><div id="slider"><div id="switch"></li>
				<li id = "4.2"><div id="selection_text">免費</div><div id="slider"><div id="switch"></li>
				<li id = "4.3"><div id="selection_text">0-100元</div><div id="slider"><div id="switch"></li>
				<li id = "4.4"><div id="selection_text">101-500元</div><div id="slider"><div id="switch"></li>
				<li id = "4.5"><div id="selection_text">500元以上</div><div id="slider"><div id="switch"></div></div></li>
			</ul>
		</li>
		<li class = "option">對象
			<ul class = "selection">
				<li id = "5.1"><div id="selection_text">不限</div><div id="slider"><div id="switch"></li>
				<li id = "5.2"><div id="selection_text">校內學生</div><div id="slider"><div id="switch"></li>
				<li id = "5.3"><div id="selection_text">系內限定</div><div id="slider"><div id="switch"></li>
				<li id = "5.4"><div id="selection_text">社團限定</div><div id="slider"><div id="switch"></li>
			</ul>
		</li>

	</ul>
	<ul class="right">
		{% if request.user.is_authenticated %}
        <li class = "option">哈囉~{{request.user}}
			<ul class = "selection">
				<a href="/activity_mine/"><li><div id="selection_text">我收藏的活動</div></li></a>
				<a href="/accounts/logout/"><li><div id="selection_text">登出</div></li></a>
		</li>
        
        {% else %}
        <li class = "option">登入/註冊
			<ul class = "selection">
				<a href="/accounts/login/"><li><div id="selection_text">登入</div></li></a>
				<a href="/accounts/register/"><li><div id="selection_text">註冊</div></li></a>
		</li>
        
        {% endif %}
	</ul>
</div>

<div id="container">
	<div id="content">
		<!--
		<div id="block">
			<div class="image"><img src={% static 'image/' %}{{ post.圖片 }}></div>
			<h1>{{ post.活動名稱 }}</h1>
			<div id="brief">{{ post.簡介 }}</div>
			<div id="more_info">
				<p>時間&nbsp;&nbsp;|&nbsp;&nbsp;{{ post.開始日期與時間 }}&nbsp;~&nbsp;{{ post.結束日期與時間 }}<br></p>
				<p>地點&nbsp;&nbsp;|&nbsp;&nbsp;{{ post.地點 }}<br></p>
				<p>報名&nbsp;&nbsp;|&nbsp;&nbsp;{{ post.報名死線 }}<br></p>
				<p>費用&nbsp;&nbsp;|&nbsp;&nbsp;{{ post.費用 }}<br></p>
				<p>對象&nbsp;&nbsp;|&nbsp;&nbsp;{{ post.對象 }}<br></p>
				<p>標籤&nbsp;&nbsp;|&nbsp;&nbsp;OAF<br></p>
			</div>
		</div>
		-->
		{% for post in posts %}
		<a target="_blank" href="{% url 'activity_detail' pk=post.pk %}">
		<div class="{{ post.標籤 }}" id="block">
			<div class="image" style="background-image: url({% static 'image/' %}{{ post.圖片 }});background-size: 100%;background-position: center;"></div>
			<div class="text">
				<div id="title">
					<div id="title_text">{{ post.活動名稱 }}</div>
					<div id="like_count">{{ post.like_set.all|length }}<i class="fa fa-heart-o" aria-hidden="true"></i></div>
					
				</div>
				<div id="time">{{ post.開始日期與時間|date:"Y.m.d (D) H:i" }} ~ {{ post.結束日期與時間|date:"Y.m.d (D) H:i" }}</div>
				<div id="brief">{{ post.簡介 }}</div>
			</div>
			<div id="more_info">
				{% autoescape off %}
				<div id="icon_location"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
				<p id="location">{{ post.地點 }}</p>
				<div id="icon_fee"><i class="fa fa-dollar"></i></div>
				<p id="fee">{{ post.費用 }}</p>
				<div id="icon_deadline"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
				<p id="deadline">{{ post.報名死線|date:"m月d日 H:i截止" }}</p>
				{% endautoescape %}
			</div>
			
		</div>
		</a>
		{% endfor %}
		<!--
		<div id="block">
			<div class="image"><img src={% static 'image/test2.jpg' %}></div>
			<h1>Taipei Hackathon</h1>
			<div id="brief">介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹</div>
			<div id="more_info">
				<p>時間&nbsp;&nbsp;|&nbsp;&nbsp;2017.12.20(日)19:30&nbsp;~&nbsp;2017.12.21(一)05:00<br></p>
				<p>地點&nbsp;&nbsp;|&nbsp;&nbsp;陽明大學音樂前廳<br></p>
				<p>報名&nbsp;&nbsp;|&nbsp;&nbsp;2017.12.20(日)19:30&nbsp;~&nbsp;2017.12.21(一)05:00<br></p>
				<p>費用&nbsp;&nbsp;|&nbsp;&nbsp;100元<br></p>
				<p>對象&nbsp;&nbsp;|&nbsp;&nbsp;陽明大學全體師生<br></p>
				<p>標籤&nbsp;&nbsp;|&nbsp;&nbsp;OAF<br></p>
			</div>
		</div>
		<div id="block">
			<div class="image"><img src={% static 'image/test3.jpg' %}></div>
			<h1>陽明山登山會師</h1>
			<div id="brief">介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹</div>
			<div id="more_info">
				<p>時間&nbsp;&nbsp;|&nbsp;&nbsp;2017.12.20(日)19:30&nbsp;~&nbsp;2017.12.21(一)05:00<br></p>
				<p>地點&nbsp;&nbsp;|&nbsp;&nbsp;陽明大學音樂前廳<br></p>
				<p>報名&nbsp;&nbsp;|&nbsp;&nbsp;2017.12.20(日)19:30&nbsp;~&nbsp;2017.12.21(一)05:00<br></p>
				<p>費用&nbsp;&nbsp;|&nbsp;&nbsp;100元<br></p>
				<p>對象&nbsp;&nbsp;|&nbsp;&nbsp;陽明大學全體師生<br></p>
				<p>標籤&nbsp;&nbsp;|&nbsp;&nbsp;OAF<br></p>
			</div>
		</div>
		<div id="block">
		</div>
		<div id="block">
		</div>
		<div id="block">
		</div>
		<div id="block">
		</div>
		<div id="block">
		</div>
		<div id="block">
		</div>
		<div id="block">
		</div>
		-->
	<!--content--></div>
<!--container--></div>
	<div id="footer">
		<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSewtGW6lKVvS1dvGQ-m54w1GTy6TN6BDE_JF2FXnutTS38OZg/viewform">
			<div id="icon_contact"><i class="fa fa-envelope-o" aria-hidden="true"></i><div id="contact">給點回饋</div></div>
		</a>
		<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeE0vrpYIpmYwK46lmWL5mD0YSbR_kJzlml0KwMWy8PK6aduw/viewform">
			<div id="icon_contact"><i class="fa fa-bullseye" aria-hidden="true"></i><div id="contact">我要宣傳</div></div>
		</a>
		<a target="_blank" href="https://www.facebook.com/ActPlat">
			<div id="icon_contact"><i class="fa fa-facebook-square" aria-hidden="true"></i><div id="contact">臉書專頁</div></div>
		</a>
		<a target="_blank" href="{% url 'activity_about' %}">
			<div id="icon_contact"><i class="fa fa-question" aria-hidden="true"></i><div id="contact">關於我們</div></div>
		</a>
		<a href="/">
			<div id="icon_contact"><i class="fa fa-home" aria-hidden="true"></i><div id="contact">網站首頁</div></div>
		</a>
	</div>	
</body>
</html>