{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="網頁關鍵字">	
<title>ActPlat - 關於我們</title>
<link rel="SHORTCUT ICON" href={% static 'image/just_logo.png' %}>

<script src="https://use.fontawesome.com/9ed2b9813e.js"></script>
<link rel="stylesheet" href= {% static 'css/activity_about.css' %} type="text/css" />
<script type="text/javascript" src={% static 'js/jquery-3.1.1.min.js' %}></script>
<script type="text/javascript" src={% static 'js/jquery.color-2.1.2.js' %}></script>
<script type="text/javascript" src={% static 'js/menu3.js' %}></script>
<script type="text/javascript" src={% static 'js/scroll3.js' %}></script>
<script type="text/javascript" src={% static 'js/godown3.js' %}></script>
</head>


<body>
<div id="head">
	<ul>
		<li><span class = "option1">這是什麼</span></li>
		<li><span class = "option2">幹嘛做這個</span></li>
		<li><span class = "option3">聯絡我們</span></li>
		<li><span class = "option4">感謝</span></li>
	</ul>
	<div class = "arrow-up"></div>
	<div class = "arrow-up2"></div>
</div>

<div id="container">
	<div class="p1">
		<div class="title1">這是什麼</div>
		<div class="title1_line"></div>
		
		<div class="title1_text">
		這是一個(目標是)包含陽明所有活動的網站<br>
		能夠讓想要尋找活動的人快速地找到有興趣的活動<br>
		能夠讓想要宣傳活動的人有效地傳達給大家知道<br>
		能夠讓大家有機會接觸更多不同於自己生活圈的事物
		</div>
	</div>
	<div class="p2">
		<div class="title2">說個故事</div>
		<div class="title2_line"></div>
		<div class="title2_line2"></div>
		<div class="title2_text">
		很有很久以前有一個邊緣人<br>
		常常發現他有興趣、想要參加的活動<br>
		不是知道的時候已經過期了<br>
		就是根本不知道有這個活動存在<br>
		錯失了很多機會的他覺得很傷心<br>
		於是想要做一個活動平台<br>
		讓即使是邊邊的他也能掌握陽明大大小小活動的資訊<br><br>
		
		在陽明<br>
		不管是宣傳活動或是知道有這個活動<br>
		不外乎透過FB宣傳、口耳相傳、喊聲、張貼海報等等方式<br>
		但是......
		</div>
		<img src={% static 'image/down_arrow_dark.png' %}>
	</div>
	<div class="p3">
	<div class="anchor"></div>
	<img class="qm" src={% static 'image/qm.png' %}>
	<div class="title3">各 種 宣 傳 的 缺 點</div>
	<div class="title3_1">至 少 我 看 到 的 啦</div>
	<div class="wrapper">
		
		<div class="info">
			<div class="icon"><i class="fa fa-facebook" aria-hidden="true"></i></div>
			<div class="info_title">F B 宣 傳</div>
			<div class="info_line"></div>
			<div class="text_date">．常常被洗掉<br>．一直洗板很煩<br>．有時無法傳給目標<br>&emsp;族群知道</div>
		</div>
		<div class="info">
			<div class="icon"><i class="fa fa-commenting-o"></i></div>
			<div class="info_title">口 耳 相 傳</div>
			<div class="info_line"></div>
			<div class="text_location">．只在熟人之間互傳<br>．有時無法傳給目標<br>&emsp;族群知道</div>
		</div>
		<div class="info">
			<div class="icon"><i class="fa fa-bullhorn" aria-hidden="true"></i></div>
			<div class="info_title">喊 聲</div>
			<div class="info_line"></div>
			<div class="text_fee">．只有社團迎新在做</div>
		</div>
		<div class="info">
			<div class="icon"><i class="fa fa-file-o" aria-hidden="true"></i></div>
			<div class="info_title">張 貼 海 報</div>
			<div class="info_line"></div>
			<div class="text_for">．有時效果不佳<br>．資訊太多太雜亂</div>
		</div>
	</div>
	<div class="title3_line"></div>
	<div class="title3_text">
		導致不管是宣傳活動或是找活動效果都不太好<br>
		所以......
	</div>
	<img class="godown" src={% static 'image/down_arrow_dark.png' %}>
	</div>
	<div class="p4">
		<div class="title4">希望</div>
		<div class="title2_line"></div>
		
		<div class="title2_text">
		於是用粗淺的程式能力架了這個網站<br>
		希望<br>
		能夠讓想要尋找活動的人快速地找到有興趣的活動<br>
		能夠讓想要宣傳活動的人有效地傳達給大家知道
		</div>
		
	</div>
	<div class="p5">
		<div class="title5">聯絡</div>
		<div class="title5_line"></div>
		
		<div class="title5_text">
		或許你覺得這個網站應該要有哪個功能<br>
		或許你覺得這個網站怎麼設計會更好<br>
		或許你想要宣傳你的活動<br>
		或許你只是單純想喇賽<br>
		不管你想要說什麼<br>
		都歡迎到最下面訪問、私訊粉專或是"給點回饋"
		</div>
	</div>
	<div class="p6">
		<div class="title6">感謝</div>
		<div class="title6_line"></div>
		
		<div class="title6_text">
		感謝某陳姓同學擔任設計顧問<br>
		感謝某林姓同學持續給我動力<br>
		感謝某劉姓同學一直在嘴砲<br>
		感謝看到這邊的你們<br>
		希望這網站讓你有機會接觸更多不同於自己生活圈的事物
		</div>
		
	<div id="footer">
		<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSewtGW6lKVvS1dvGQ-m54w1GTy6TN6BDE_JF2FXnutTS38OZg/viewform">
			<div id="icon_contact"><i class="fa fa-envelope-o" aria-hidden="true"></i><div id="contact">給點回饋</div></div>
		</a>
		<a href="/add_new/">
			<div id="icon_contact"><i class="fa fa-bullseye" aria-hidden="true"></i><div id="contact">我要宣傳</div></div>
		</a>
		<a target="_blank" href="https://www.facebook.com/ActPlat">
			<div id="icon_contact"><i class="fa fa-facebook-square" aria-hidden="true"></i><div id="contact">臉書專頁</div></div>
		</a>
		<a target="_blank" href="{% url 'activity_about' %}">
			<div id="icon_contact"><i class="fa fa-question" aria-hidden="true"></i><div id="contact">關於我們</div></div>
		</a>
		<a href="/">
			<div id="icon_contact"><i class="fa fa-home" aria-hidden="true"></i><div id="contact">網站首頁</div></div>
		</a>
	</div>	
	
	</div>
	
<!--container--></div>


</body>
</html>