{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="網頁關鍵字">	
<title>ActPlat - 登入</title>
<link rel="SHORTCUT ICON" href={% static 'image/just_logo.png' %}>

<script src="https://use.fontawesome.com/f4d3a939e1.js"></script>
<link rel="stylesheet" href= {% static 'css/login.css' %} type="text/css" />
<script type="text/javascript" src={% static 'js/jquery-3.1.1.min.js' %}></script>

</head>


<body>

<div id="container">
	<div id="block">
        <form action="" method="post">
			{% csrf_token %}
            <label for="username">帳號：</label>
            <input type="text" name="username" value="" id="username"> <br />
            <label for="password">密碼：</label>
            <input type="password" name="password" value="" id="password"> <br />
            <input type="submit" value="登入" />
            <a href="/accounts/register/"><input type="button" value="來去註冊" /></a>
        </form>
	</div>

	<div id="footer">
		<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSewtGW6lKVvS1dvGQ-m54w1GTy6TN6BDE_JF2FXnutTS38OZg/viewform">
			<div id="icon_contact"><i class="fa fa-envelope-o" aria-hidden="true"></i><div id="contact">給點回饋</div></div>
		</a>
		<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeE0vrpYIpmYwK46lmWL5mD0YSbR_kJzlml0KwMWy8PK6aduw/viewform">
			<div id="icon_contact"><i class="fa fa-bullseye" aria-hidden="true"></i><div id="contact">我要宣傳</div></div>
		</a>
		<a target="_blank" href="https://www.facebook.com/ActPlat">
			<div id="icon_contact"><i class="fa fa-facebook-square" aria-hidden="true"></i><div id="contact">臉書專頁</div></div>
		</a>
		<a target="_blank" href="{% url 'activity_about' %}">
			<div id="icon_contact"><i class="fa fa-question" aria-hidden="true"></i><div id="contact">關於我們</div></div>
		</a>
		<a href="/">
			<div id="icon_contact"><i class="fa fa-home" aria-hidden="true"></i><div id="contact">網站首頁</div></div>
		</a>
	</div>	
</div>
</body>
</html>