*{
	margin: 0px;
	padding: 0px;
}

body {
	background: rgb(15,24,43);
	text-align: center;
	font-family: Microsoft JhengHei;
}

/*導覽列*/
#head{
	background: rgba(240, 255, 255, .95);
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
	color: rgb(15,24,43);
}

#head:hover{
	background: rgba(240, 255, 255, 1);
}

ul li
{
	list-style-type: none;
}

div#head ul li{
	width: 180px;
	height: 60px;
	line-height: 60px;
	background: rgba(240, 255, 255, 0);
	float: left;
}

div#head ul li ul.selection li{
	background: rgba(240, 255, 255, 1);
	position: relative;
}

div#head ul li ul.selection li:hover{
	cursor: pointer;
}

div#head ul li ul.selection{
	display: none;
}

#selection_text{
	height: 60px;
	line-height: 60px;
	width: 120px;
	position: absolute;
	left: 20px;
	text-align: left;
}

ul.right{
	float: right;
}

/*開關*/
#slider{
	height: 20px;
	width: 32px;
	background: rgb(15,24,43);
	display: block;
	position: absolute;
	bottom: 20px;
	right: 20px;
	border-radius: 20px;
}

#switch{
	height: 16px;
	width: 16px;
	background: rgba(240, 255, 255, 1);
	position: absolute;
	bottom: 2px;
	right: 2px;
	border-radius: 16px;
}

.to_right{
  transform: translateX(0px);
  transition-duration: 0.2s;
}

.to_left{
  transform: translateX(-12px);
  transition-duration: 0.2s;
}

/*主要內容*/
#container{
	margin: 0 auto 0;
	padding-top: 70px;
	width: 1200px;
}

#content{
}

/*活動格*/
#block{
	background: rgba(240, 255, 255, 0);
	width: 380px;
	height: 310px;
	float: left;
	margin: 25px 10px;
	position: relative;
	//border: 5px solid rgba(240, 255, 255, 1);
	cursor: pointer;
	color: rgba(240, 255, 255, 1);
}

/*圖片*/
.image{
	margin: 0;
	width: 380px;
	height: 140px;
	overflow: hidden;
}

.image img{
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/*名稱與時間*/
.text{
	width: 380px;
	height: 130px;
	padding-top: 10px;
}

#title_text{
	width: 330px;
	height: 35px;
	margin: 0;
	font-size: 25px;
	font-weight: bold;
	text-align: left;
	padding: 5px 15px 0;
	overflow:hidden;
	white-space: nowrap;
	text-overflow : ellipsis;
}

#like_count{
	width: 35px;
	height: 35px;
	float: right;
}

.fa-heart-o{
	margin-left: 5px;
}

#time{
	margin-bottom: 5px;
	font-weight: bolder;
	line-height: 20px;
	font-size: 14px;
	width: 380px;
	padding: 0 15px;
	text-align: left;
	color: rgba(240, 255, 255, 1);
}

/*簡介*/
#brief{
	font-size: 14px;
	font-weight: lighter;
	width: 330px;
	height: 50px;
	padding: 5px 10px 10px 40px;
	text-align: left;
	overflow: hidden;
	position: relative;
	color: rgba(240, 255, 255, .4);
}

/*更多資訊*/
#more_info{
	font-size: 14px;
	font-weight: bolder;
	padding: 5px 15px;
	width: 350px;
	height: 40px;
	position: absolute;
	bottom: 0px;
	text-align: middle;
}

#icon_location, #icon_fee, #icon_deadline{
	float: left;
	width: 30px;
	height: 40px;
	//background: black;
	line-height: 35px;
	font-size: 35px;
}


#location{
	float: left;
	width: 65px;
	height: 40px;
	padding: 0;
	margin: 0 20px 0 0;
}
#fee{
	font-size: 20px;
	float: left;
	width: 80px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	margin: 0 15px 0 0;
}

#deadline{
	float: left;
	width: 70px;
	height: 40px;
	padding: 0;
	margin: 0 0 0 10px;
}

/*底部*/
#footer{
	background: rgba(240, 255, 255, .95);
	height: 60px;
	width: 100%;
	clear: both;
	position: absolute;
	bottom: 0;
}

#footer:hover{
	background: rgba(240, 255, 255, 1);
}

#icon_contact{
	float: right;
	color: rgb(15,24,43);
	height: 60px;
	padding: 0 20px;
}

#icon_contact:hover {
	color: rgba(15,24,43,.5);
}

#contact{
	font-size: 12px;
	font-weight: bold;
}

.fa-envelope-o, .fa-question, .fa-facebook-square, .fa-home, .fa-bullseye{
	font-size: 40px;
}