*{
	margin: 0px;
	padding: 0px;
}

body {
	background: rgb(15,24,43);
	text-align: center;
	font-family: Microsoft JhengHei;
}

/*主要內容*/
#container{
	background: rgb(15,24,43);
	height: 100vh;
}

#block{
	background: rgb(15,24,43);
	width: 396px;
	height: 396px;
	margin-left: -200px;
	margin-top: -250px;
	position: absolute;
	left: 50%;
	top: 50%;
	border: 2px solid rgba(240, 255, 255, 1);
	color: rgba(240, 255, 255, 1);
	overflow: auto;
	text-align: left;
}

form{
	background: rgb(15,24,43);
	width: 300px;
	height: 100px;
	margin-left: -150px;
	margin-top: 10%;
	position: absolute;
	left: 50%;
	top: 0;
	color: rgba(240, 255, 255, 1);
	font-size: 20px;
	font-weight: bold;
}

p{
	font-size: 12px;
	font-weight: lighter;
	color: rgba(240, 255, 255, .5);
}

input[type=text], input[type=file], input[type=datetime-local], textarea{
	height: 20px;
	width: 100%;
	line-height: 20px;
	margin-bottom: 15px;
}

input[type=submit], input[type=button]{
	padding-top:10px;
	margin-left:-100px;
	width:200px;
	left:50%;
	position:absolute;
	color: rgba(240, 255, 255, 1);
	background: rgba(240, 255, 255, 0);
	border: rgba(240, 255, 255, 1);
	font-family: Microsoft JhengHei;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

#簡介{
	height:100px;
}

/*底部*/
#footer{
	background: rgba(240, 255, 255, .95);
	height: 60px;
	width: 100%;
	clear: both;
	position: absolute;
	bottom: 0;
}

#footer:hover{
	background: rgba(240, 255, 255, 1);
}

#icon_contact{
	float: right;
	color: rgb(15,24,43);
	height: 60px;
	padding: 0 20px;
}

#icon_contact:hover {
	color: rgba(15,24,43,.5);
}

#contact{
	font-size: 12px;
	font-weight: bold;
}

.fa-envelope-o, .fa-question, .fa-facebook-square, .fa-home, .fa-bullseye{
	font-size: 40px;
}